<div class="form-container">
  <div class="custom-form animate-form">
    <%= simple_form_for @product, html: { multipart: true } do |f| %>
      <%# Form Header %>
      <div class="form-header">
        <h1 class="title">
          <%= @product.new_record? ? 'Add New Product' : 'Edit Product' %>
        </h1>
      </div>

      <div class="form-body">
        <%# Error Messages %>
        <% if @product.errors.any? %>
          <div class="error-container">
            <%= @product.errors.full_messages.first %>
          </div>
        <% end %>

        <%# Basic Information %>
        <div class="responsive-grid">
          <div class="field-group">
            <%= f.input :title, 
                required: true,
                input_html: { class: "input" },
                wrapper: false,
                label_html: { class: "label" } %>
          </div>

          <div class="field-group">
            <%= f.input :price, 
                required: true,
                input_html: { class: "input", maxlength: 7 },
                wrapper: false,
                label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field-group">
          <%= f.input :description, 
              required: true,
              input_html: { class: "textarea", rows: 4 },
              wrapper: false,
              label_html: { class: "label" } %>
        </div>

        <%# Product Details %>
        <div class="columns is-multiline">
          <%# Brand Selection %>
          <div class="field column is-4">
            <div class="control">
              <label class="label is-medium">Brand</label>
              <div class="control has-icons-left">
                <span class="select is-medium is-fullwidth">
                  <%= f.input_field :brand, 
                      collection: Product::BRAND, 
                      prompt: "Select brand", 
                      required: true %>
                </span>
                <span class="icon is-medium is-left">
                  <i class="fa fa-tag"></i>
                </span>
              </div>
            </div>
          </div>

          <%# Finish Selection %>
          <div class="field column is-4">
            <div class="control">
              <label class="label is-medium">Finish</label>
              <div class="control has-icons-left">
                <span class="select is-medium is-fullwidth">
                  <%= f.input_field :finish, 
                      collection: Product::FINISH, 
                      prompt: "Select finish", 
                      required: true %>
                </span>
                <span class="icon is-medium is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
          </div>

          <%# Condition Selection %>
          <div class="field column is-4">
            <div class="control">
              <label class="label is-medium">Condition</label>
              <div class="control has-icons-left">
                <span class="select is-medium is-fullwidth">
                  <%= f.input_field :condition, 
                      collection: Product::CONDITION, 
                      prompt: "Select condition", 
                      required: true %>
                </span>
                <span class="icon is-medium is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <%# Image Upload %>
        <div class="field-group" data-controller="image-preview">
          <label class="label">Product Images</label>
          <div class="file-upload-container">
            <div class="file is-centered">
              <label class="file-label">
                <%= f.input :image, 
                    as: :file,
                    input_html: { 
                      class: "file-input product-image",
                      data: {
                        image_preview_target: "input",
                        action: "change->image-preview#preview"
                      }
                    },
                    label: false,
                    wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">Choose a file…</span>
                </span>
                <span class="file-name" id="filename" data-image-preview-target="filename">
                  No file selected
                </span>
              </label>
            </div>
            <div id="image-preview" data-image-preview-target="preview" class="mt-3"></div>
          </div>
        </div>

        <%# Form Actions %>
        <div class="form-buttons">
          <%= f.button :submit, class: 'button is-warning is-medium' %>
          <%= link_to 'Cancel', products_path, class: 'button is-light is-medium' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :page_scripts do %>
  <script>
    document.querySelector('.product-image').onchange = function() {
      document.getElementById('filename').textContent = this.files[0].name;
    };
  </script>
<% end %>

